@import "themeToggle";
[data-mode="dark"] {
	--background-color: #222;
	--contrast-color: #fff;
}
[data-mode="light"] {
	--background-color: #fff;
	--contrast-color: #222;
}
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	font-size: 62.5%;
}
body {
	background-color: var(--background-color);
	transition: background 0.2s;
}
.theme-toggle {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 6rem;
	height: 6rem;
	background-color: transparent;
	border: none;
	cursor: pointer;
	.fa-solid {
		color: var(--contrast-color);
		position: absolute;
		font-size: 5rem;
		&.empty {
			position: relative;
			opacity: 0;
		}
		z-index: 1;
	}
	.fa-circle {
		display: flex;
		font-size: 0;
		transition: color 0.3s;
		// delay iteration-count direction fill-mode
		z-index: 0;
	}
	&:hover .fa-circle {
		animation: curtainBubble 0.3s forwards;
	}
	// &:hover:this(.fa-sun) {
	// 	clip-path: circle(115% at 50% 50%);
	// }
	.circle-mouseOut {
		animation: curtainBubble 0.5s reverse forwards;
	}
	.fa-moon,
	.fa-sun {
		z-index: 0;
		pointer-events: none;
	}
	&:hover .fa-moon,
	&:hover .fa-sun {
		color: var(--background-color);
	}
}
@keyframes curtainBubble {
	0% {
		font-size: 0;
	}
	100% {
		font-size: 7rem;
	}
}
