@import "themeToggle";
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	font-size: 62.5%;
}
body {
	width: 100vw;
	overflow: hidden;
	background-color: var(--background-color);
	transition: background 0.2s;
	font-size: 62.5%;
}
.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
nav {
	position: fixed;
	z-index: 1000;
	top: 0;
	width: 100%;
	padding: 20px 0;
	color: #1d3b50;
}
main {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	.wrapper {
		z-index: 9;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	svg {
		min-height: 501px;
	}
	.cat {
		display: flex;
		justify-content: center;
		svg {
			transition: 0.3s;
			transform: rotate(-10deg);
			path {
				fill: var(--contrast-color);
				stroke: transparent;
			}
		}
	}
}