@import "themeToggle";
[data-mode="dark"] {
	--background-color: #222;
	--contrast-color: #fff;
}
[data-mode="light"] {
	--background-color: #fff;
	--contrast-color: #222;
}
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	font-size: 62.5%;
}
body {
	background-color: var(--background-color);
	transition: background 0.2s;
}